@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  box-sizing: border-box;
}

body {
  font-family: Quicksand, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f354e;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}